@model IEnumerable<RouterLab.Speed>

@{
    ViewData["Title"] = "Index";
}

<h1>Швидкість</h1>

<p>
    <a asp-action="Create">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Speed1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Speed1)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SpeedId">Змінити</a> |
                    <a asp-action="Details" asp-route-id="@item.SpeedId">Роутери</a> |
                    <a asp-action="Delete" asp-route-id="@item.SpeedId">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div id="chart1"> </div>
</div>
@section Scripts
    {
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', { 'packages': ['corechart'], callback: drawChart })

        function drawChart() {
            $.get('api/Charts/JsonData1', function (JsonData1) {
                data = google.visualization.arrayToDataTable(JsonData1, false);
                var option =
                {
                    title: "Кількість роутерів по швидкостях",
                    width: 500,
                    height: 400
                };
                chart = new google.visualization.PieChart(document.getElementById('chart1'));
                chart.draw(data, option);
            })
        }

    </script>

}
