@model IEnumerable<RouterLab.Price>

@{
    ViewData["Title"] = "Index";
}

<h1>Ціни</h1>

<p>
    <a asp-action="Create">Додати</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PriceId">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.PriceId">Роутери</a> |
                <a asp-action="Delete" asp-route-id="@item.PriceId">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
